<div id="loginbox">            

<!-- 登陆 开始 -->

    <form id="loginform" class="form-vertical" action="index.html">

         <div class="control-group normal_text"> 

            <h3><img src="images/logo.png" alt="Logo"></h3>

        </div>

        <div class="control-group">

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_lg"><i class="icon-user"></i></span>

                    <input id="login-email" type="email" placeholder="邮箱">

                </div>

            </div>

        </div>

        <div class="control-group">

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>

                    <input id="login-pass" type="password" placeholder="密码">

                </div>

            </div>

        </div>

        <div class="form-actions">

            <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>

            <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-info" id="to-signup">还没帐号?</a></span>

            <span class="pull-right"><a type="submit" href="javascript:;" class="btn btn-success" id="login-btn"> 登录</a></span>

        </div>

    </form>
<!-- 登陆 结束 -->

<!-- 忘记密码 开始 -->
    <form id="recoverform" action="#" class="form-vertical">

        <p class="normal_text">请输入邮箱帐号</p>

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span>

                    <input id="recover-email" type="email" placeholder="邮箱">

                </div>

            </div>

        <div class="form-actions">

            <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-success to-login">回到登录页面</a></span>

            <span class="pull-right"><a class="btn btn-info" id="recover-btn">找回密码</a></span>

        </div>

    </form>
<!-- 忘记密码 结束 -->

<!-- 注册 开始 -->
    <form id="signupform" action="#" class="form-vertical">

        <div class="control-group normal_text"> 

            <h3><img src="images/logo.png" alt="Logo"></h3>

        </div>

        <div class="control-group">

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_lg"><i class="icon-user"></i></span>

                    <input id="signup-email" type="email" placeholder="邮箱">

                </div>

            </div>

        </div>

        <div class="control-group">

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>

                    <input id="signup-pass" type="password" placeholder="密码">

                </div>

            </div>

        </div>

        <div class="control-group">

            <div class="controls">

                <div class="main_input_box">

                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>

                    <input id="signup-repass" type="password" placeholder="确认密码">

                </div>

            </div>

        </div>

        <div class="form-actions">

            <span class="pull-left"><a href="javascript:;" class="flip-link btn btn-success to-login">回到登录页面</a></span>

            <span class="pull-right"><a class="btn btn-info" id="signup-btn">注册</a></span>

        </div>
    </form>
<!-- 注册 结束 -->
</div>